<div class="container" style="margin-top: 50px;">
    <div class="row">
        <p class="text-end">Bienvenido/a {{usuario}}! <a class="btn btn-danger" href="/admin/login/logout" >Cerrar sesión <i class="fa-solid fa-arrow-right-from-bracket"></i></a></p>
    </div>
</div>