.contenedor{
    border: black solid 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
}

.caja1{
    background-color: red;
    width: 150px;
	height: 150px;
	font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja2{
    background-color: blue;
    width: 150px;
	height: 150px;
	font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja3{
    background-color: green;
    width: 150px;
	height: 150px;
	font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}