<h2>{{title}}</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta maiores,
  sint veniam laudantium laboriosam unde repellendus voluptas vel architecto,
  tempora facere impedit deleniti accusantium ullam a natus? Possimus, sit quam.</p>