<h2>{{title}}</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et ex, asperiores
  molestias beatae voluptates eius nesciunt deleniti ab, nihil earum optio
  nostrum, minima corporis odit dolor obcaecati dicta hic ea.</p>